In [6]:
import pandas as pd
import lux

ModuleNotFoundError: No module named 'lux'

In [5]:
df = pd.read_json("test.json")
df

    0  1   2  3  4   5  6  7  8   9   ... 23 24 25  26 27 28  29  30 31 32
0   -5  =  IF  (  A   1     >      0  ...  ,     B   1  )  =   C   1  +  1
1   -4  =  IF  (  A   2     >      0  ...  ,     B   2  )  =   C   2  +  1
2   -3  =  IF  (  A   3     >      0  ...  ,     B   3  )  =   C   3  +  1
3   -2  =  IF  (  A   4     >      0  ...  ,     B   4  )  =   C   4  +  1
4   -1  =  IF  (  A   5     >      0  ...  ,     B   5  )  =   C   5  +  1
5    0  =  IF  (  A   6     >      0  ...  ,     B   6  )  =   C   6  +  1
6    1  =  IF  (  A   7     >      0  ...  ,     B   7  )  =   C   7  +  1
7    2  =  IF  (  A   8     >      0  ...  ,     B   8  )  =   C   8  +  1
8    3  =  IF  (  A   9     >      0  ...  ,     B   9  )  =   C   9  +  1
9    4  =  IF  (  A  10     >      0  ...  ,     B  10  )  =   C  10  +  1
10   5  =  IF  (  A  11     >      0  ...  ,     B  11  )  =   C  11  +  1
11   6  =  IF  (  A  12     >      0  ...  ,     B  12  )  =   C  12  +  1
12   7  =  IF  (  A  13     >      0  ...  ,     B  13  )  =   C  13  +  1
13   8  =  IF  (  A  14     >      0  ...  ,     B  14  )  =   C  14  +  1
14   9  =  IF  (  A  15     >      0  ...  ,     B  15  )  =   C  15  +  1

[15 rows x 33 columns]